.search-box {
  --search-gap: var(--spacing-lg);
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: var(--layout-max-width-content);
  gap: var(--search-gap);
}

.search-box .input-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.search-box .input-wrapper .input {
  border-radius: var(--border-radius-lg);
  background-color: var(--colour-surface-default);
  height: var(--button-height-big);
  padding-block: var(--spacing-md);
  line-height: var(--line-height-normal);
}

.search-box__input::placeholder {
  color: var(--colour-text-secondary);
}

.search-box__button {
  border-radius: var(--border-radius-lg);
  white-space: nowrap;
}
