.filters-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: var(--spacing-md);
}

.filters-row__label {
  color: var(--colour-text-secondary);
  font-family: var(--font-family-base);
  font-size: var(--typography-text-m-size);
  font-weight: var(--typography-text-m-weight);
  line-height: var(--typography-text-m-line-height);
  text-transform: uppercase;
  margin: 0;
}

.filters-row__options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--spacing-md);
  align-items: center;
}

.filters-row__option {
  display: flex;
  align-items: center;
}
