.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  width: 100%;
}

.input {
  width: 100%;
  padding-inline: var(--spacing-md);
  padding-block: var(--spacing-md);
  border: none;
  border-radius: var(--border-radius-lg);
  background-color: var(--colour-background);
  color: var(--colour-text-primary);
  font-family: var(--font-family-base);
  font-size: inherit;
  line-height: var(--line-height-normal);
  transition: outline-color var(--transition-base, 200ms) var(--transition-timing);
}

.input::placeholder {
  color: var(--colour-text-secondary);
}

.input:focus-visible {
  outline: var(--outline-width-focus) solid var(--colour-border-default);
  outline-offset: var(--outline-offset-focus);
}

.input:focus:not(:focus-visible) {
  outline: none;
}

.input:disabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
  background-color: color-mix(
    in srgb,
    var(--colour-background) var(--interaction-lighten-hover),
    var(--colour-border-default)
  );
}

.input:disabled::placeholder {
  color: var(--colour-text-secondary);
  opacity: var(--opacity-disabled-placeholder);
}
