.user-search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-search-box__label {
  color: var(--colour-text-secondary);
  font-family: var(--font-family-base);
  font-size: var(--typography-text-m-size);
  font-weight: var(--typography-text-m-weight);
  line-height: var(--typography-text-m-line-height);
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  margin-bottom: var(--spacing-md);
  width: 100%;
}
