.user-search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-search-box__label {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: var(--spacing-md);
  width: 100%;
}
